<ion-header no-border>
  <ion-toolbar>
    <ion-title>Register</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list lines="none">
    <form [formGroup]="registerForm">

      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input type="email" formControlName="email" placeholder="Email address"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input type="password" formControlName="password" placeholder="password"></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="register()">Sign Up</ion-button>

    </form>
  </ion-list>
</ion-content>